@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*, *:after, *:before {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    position: relative;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    padding: 10rem;
    background-color:#0E131F;
    color: white;
    font-size: 4em;
    margin: auto;
    font-family: sans-serif;
    font-weight: bold;
}

.one{
    font-family: 'Arvo', serif;
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 3rem 0 3rem 2rem;
    color: white;
    background-color: #38405F;
} .one h2{
    padding: 6rem 0 0.5rem 0;
    font-size: 2em;
}

.rainbow{
    position: relative;
    background: linear-gradient(to right, #ff3399, #f59235, #f3de25, #00ff00, #0099ff, #ab66ff, #df3f3f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%; 
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.background-shape{
    overflow: hidden;
    transform: rotate(160deg);
    position: absolute;
    background-color:#151d2e;
    width: 20rem;
    height: 60rem;
    border-radius: 10rem 0 0 0/ 0rem 0 0 0;
}

.giant{
    font-family: 'Potta One', cursive;
    font-size: 12.5em;
}

.kotlin{
    float: right;
    clip-path: polygon(86% 8%, 50% 50%, 86% 90%, 15% 90%, 15% 50%, 15% 8%);

}