*, *:after, *:before {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    position: relative;
}

div{
    overflow: hidden;
}

h1, p{
    animation-name: fadeInBottom;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.one{
    background-color:#FFF275;
    padding: 7.5vw;
} .one h1{
    margin: 3vw auto;
    text-align: center;
    font-size: 6vw;
    font-family: 'Castoro', serif;
    font-weight: 200;
} .one p{
    font-size: 1.5vw;
    margin: 0 auto;
    text-align: center;
    width: 60%; 
    font-family: 'Plus Jakarta Sans', sans-serif;
} .circle1{
    position: absolute;
    background-color:hsl(54, 100%, 70%);
    border-radius: 10rem;
} .rect1{
    position: absolute;
    background-color:hsl(54, 100%, 70%);
}

.two{
    text-align: justify;
    padding: 7.5vw 0 7.5vw 5vw;
    background-color: #FF8C42;
} .two h1{
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 3vw;
    margin: 2vw 0 2vw 0;
} .two p{
    font-size: 1.4vw;
    font-family: 'Space Grotesk', sans-serif;
    width: 80%
}

.three{
    color: white;
    direction:rtl;
    text-align:justify;
    padding: 7.5vw 5vw 7.5vw 0;
    background-color: #c10c09;
} .three h1{
    font-family: 'Readex Pro', sans-serif;
    font-size: 3vw;
    margin: 2vw 0 2vw 0;
} .three p{
    font-size: 1.6vw;
    font-family: 'Zen Kurenaido', sans-serif;
    width: 80%
}

.four{
    color: white;
    text-align: center;
    padding: 7.5vw 0 7.5vw 0;
    background-color: #A23E48;
} .four h1{
    font-family: 'MuseoModerno', cursive;
    font-size: 3vw;
    margin: 2vw 0 2vw 0;
} .four p{
    margin: 0 auto;
    font-size: 1.4vw;
    font-family: 'Gotu', sans-serif;    
    width: 75%
}

.five{
    color: white;
    text-align: justify;
    padding: 7.5vw 0 7.5vw 5vw;
    background-color: #507395;
} .five h1{
    font-family: 'Sigmar One', cursive;
    font-size: 3vw;
    margin: 2vw 0 2vw 0;
} .five p{
    font-size: 1.75vw;
    font-family: 'Flow Circular', cursive;
    width: 80%
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}   